<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'bootstrap.html' %}
    <title>Application Submitted</title>
  </head>
  <body>
    {% include 'nav.html' %} {% include 'banner.html' %}
    <div class="container">
      <h1 class="text-center mt-2 mb-4">inTransi Careers</h1>
      {% for info in job %}
      <h5>
        Your application for the role of <b>{{info.title}}</b> has been
        successfully submitted!
      </h5>
      {% endfor %}
      <b>Full Name</b>
      <div class="mb-2">{{application['full_name']}}</div>
      <b>Email</b>
      <div class="mb-2">{{application['email']}}</div>
      <b>LinkedIn</b>
      <div class="mb-2">{{application['linkedin_url']}}</div>
      <b>Github/Portfolio URL</b>
      <div>{{application['github_url']}}</div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
