<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'bootstrap.html' %}

    <title>InTransi Careers</title>
  </head>
  <body>
    {% include 'nav.html' %} {% include 'banner.html' %}
    <div class="container">
      <h1 class="text-center mt-2 mb-4">inTransi Careers</h1>
      <div class="row" style="margin-bottom: 16px">
        <div class="col-md-6">
          <p class="lead">
            InTransi, your dependable partner, ensures your child's secure
            school commute. We specialize in linking parents with trustworthy
            school transportation solutions, placing safety and peace of mind at
            the forefront. Aligned with the prestigious Midrand Learner
            Transport Association (MLTA) fleet, we guarantee a safe and
            comfortable journey for your child. Backed by MLTA's seasoned
            partners, we're dedicated to achieving excellence in school
            transportation. Your child's safety and comfort are our paramount
            concerns. Simplify your daily routine by effortlessly discovering
            the ideal transportation solution with a single click. Count on
            inTransi to make your child's commute stress-free and your life more
            convenient.
          </p>
        </div>
        <div class="d-none d-md-block col-md-6">
          <img
            src="/static/transi.jpg"
            style="height: 320px; border-radius: 4px"
          />
        </div>
      </div>
      <h2 class="text-center mt-2 mb-4" style="margin-top: 10px">
        Open Positions
      </h2>
      <div>{% for job in jobs %} {% include 'jobinfo.html' %} {% endfor %}</div>
      <div class="text-center">
        <a
          href="mailto:lesegohartley@gmail.com?subject=Question%20About%20Job%20Openings&body=%3CEnter%20your%20query%20here%3E"
          class="btn btn-primary btn-lg"
          >Contact Us</a
        >
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
